ca-certificates==2020.4.5.1
certifi==2020.4.5.1
libedit==3.1.20181209
libffi==3.2.1
libgcc-ng==9.1.0
libstdcxx-ng==9.1.0
ncurses==6.2
ninja==1.10.0
openssl==1.1.1g
readline==7.0
setuptools==46.4.0
sqlite==3.31.1
tk==8.6.8
wheel==0.34.2
xz==5.2.5
zlib==1.2.11
scipy==1.4.1
matplotlib==3.2.1
tqdm==4.46.0
numpy==1.18.4
opencv-python==4.2.0.34
pillow==7.1.2
tensorboard==2.2.1
torch==1.10.0
torchvision==0.11.1
